{{define "body"}}
<div class="not-found container">
<h1>{{t .Lang "ui.not_found_404"}}</h1>
<p>{{t .Lang "ui.page_not_found"}}</p>
<a href="/" class="back-link">&larr; {{t .Lang "ui.back_to_home"}}</a>
</div>
{{end}}